* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#root {
  height: 100%;
}

.d_none {
  display: none;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  overflow: auto;
}

.page__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}

.page__content {
  width: 80%;
}

.page__table {
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1.3rem;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6%), 0 2px 10px 0 rgba(0, 0, 0, 0.6%);
}
.page__title {
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
  position: relative;
  padding: 30px 0;
}

.table__head tr {
  text-align: left;
}

.table__head th:nth-child(1) {
  width: 10%;
}

.table__head th:nth-child(2) {
  width: 60%;
}
.table__head th:nth-child(3) {
  width: 20%;
}

.table__body td:nth-child(2) {
  max-width: 700px;
  overflow-wrap: break-word;
}

td {
  position: relative;
}
.td_item {
  cursor: pointer;
}
.td_content {
  position: absolute;
  top: 25px;
}
.td_item:hover {
  background-color: rgb(240, 240, 240);
}
.td_item.status:hover {
  background-color: rgb(240, 240, 240);
}

tr {
  border: 1.5px solid #000;
}

.description {
  margin-top: 40px;
  font-style: italic;
}

.status {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
}
.status.checked {
  background-image: url(2ccfad8f363848a1a85a.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

td span,
.popup__close {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.editing {
  background-image: url(74431710235c9b8c1026.svg);
}

.delete {
  margin-left: 30px;
  background-image: url(c8e8beb9514379d24b9b.svg);
}

.table th,
.table td {
  padding: 25px 20px;
}

tfoot th[colspan="2"] {
  text-align: right;
}
tfoot th[colspan="1"] {
  text-align: left;
}

.page__button {
  position: absolute;
  right: 0;
  bottom: 10px;
  border-radius: 5px;
  border: 1px solid;
  padding: 20px 30px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6%), 0 2px 10px 0 rgba(0, 0, 0, 0.6%);
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
#description {
  height: 150px;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  font-size: 1.3rem;
  background-color: #fff;
  color: #000;
  max-width: 700px;
  /* min-width: 500px; */
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__title {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 0 1em;
}
.popup__label {
  display: block;
  margin-bottom: 60px;
}
.popup__name {
  margin-bottom: 10px;
}
.popup__input {
  border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 15px;
  width: 100%;
  font-size: 1.6rem;
}
.popup__buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 200px;
  font-size: inherit;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 15px;
  color: #fff;
}
.button[data-name="save"] {
  background-color: rgb(48, 158, 48);
}
.button[data-name="change"] {
  background-color: rgb(48, 158, 48);
}
.button[data-name="cancel"] {
  background-color: rgb(119, 119, 119);
  margin-left: 60px;
}
.button[data-name="yes"] {
  background-color: rgb(255, 94, 94);
}
.button[data-name="no"] {
  background-color: rgb(119, 119, 119);
  margin-left: 60px;
}
.tooltip {
  width: 340px;
  position: absolute;
}

.tooltip__content {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: rgb(255, 255, 133);
}

.tooltip__arrow {
  position: relative;
}

.tooltip__arrow::before,
.tooltip__arrow::after {
  content: "";
  display: block;
  position: absolute;
  left: 32%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
}

.tooltip__arrow::before {
  top: -60.5px;
  border: 10px solid transparent;
  border-bottom-color: #000;
}

.tooltip__arrow::after {
  top: -58.5px;
  border: 9.5px solid transparent;
  border-bottom-color: rgb(255, 255, 133);
}

.tooltip__text {
  padding: 10px;
  font-size: 1.2rem;
}

